section.benefits
    .benefits__container
        .benefits__grid
            h2.benefits__title Why Choosing Us

            .benefit
                h3.benefit__title Luxury facilities
                p.benefit__text The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities.
                a(href="#").benefit__link More Info
            .benefit
                h3.benefit__title Affordable Price
                p.benefit__text You can get a workspace of the highst quality at an affordable price and still enjoy the facilities that are oly here.
                a(href="#").benefit__link More Info
            .benefit
                h3.benefit__title Many Choices
                p.benefit__text We provide many unique work space choices so that you can choose the workspace to your liking.
                a(href="#").benefit__link More Info