header.header
    .header__container
        // Navigation
        nav.nav
            // Logo
            a(href="#").logo Panto

            // Navigation list
            ul.nav-list
                li.nav-list__item
                    a(href="#").nav-list__link Furniture 
                li.nav-list__item
                    a(href="#").nav-list__link Shop
                li.nav-list__item
                    a(href="#").nav-list__link About Us
                li.nav-list__item
                    a(href="#").nav-list__link Contact
                    
            // Cart
            a(href="#")
                img(src="./img/icons/cart.svg", alt="Cart").cart__img
                .cart__count 0