section.products
    .products__container
        h2.products__title Best Selling Product
        .products__tabs
            .tab-controls
                button.tab-controls__btn.tab-controls__btn--active Chair 
                button.tab-controls__btn Beds
                button.tab-controls__btn Sofa
                button.tab-controls__btn Lamp
        .products__slider 
            .card
                a(href="#product-page").card__link 
                .card__photo
                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="card").card__img
                .card__desc
                    a(href="#caregory").card__category Chair
                    h3.card__title Sakarias Armchair
                    .card__rating
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star-off.svg", alt="star")
                    .card__footer
                        .card__price(data-value="$") 392
                        button.card__btn
                            |Add to cart
                            img(src="./img/icons/plus.svg", alt="Plus")
            .card
                a(href="#product-page").card__link 
                .card__photo
                    img(src="./img/products/chair-02.png", srcset="./img/products/chair-02@2x.png" alt="card").card__img
                .card__desc
                    a(href="#caregory").card__category Chair
                    h3.card__title Baltsar Chair
                    .card__rating
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star-off.svg", alt="star")
                    .card__footer
                        .card__price(data-value="$") 299
                        button.card__btn
                            |Add to cart
                            img(src="./img/icons/plus.svg", alt="Plus")
            .card
                a(href="#product-page").card__link 
                .card__photo
                    img(src="./img/products/chair-03.png", srcset="./img/products/chair-03@2x.png" alt="card").card__img
                .card__desc
                    a(href="#caregory").card__category Chair
                    h3.card__title Anjay Chair
                    .card__rating
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star-off.svg", alt="star")
                    .card__footer
                        .card__price(data-value="$") 519
                        button.card__btn
                            |Add to cart
                            img(src="./img/icons/plus.svg", alt="Plus")
            .card
                a(href="#product-page").card__link 
                .card__photo
                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="card").card__img
                .card__desc
                    a(href="#caregory").card__category Chair
                    h3.card__title Nyantuy Chair
                    .card__rating
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star.svg", alt="star")
                        img(src="./img/icons/star-off.svg", alt="star")
                    .card__footer
                        .card__price(data-value="$") 921
                        button.card__btn
                            |Add to cart
                            img(src="./img/icons/plus.svg", alt="Plus")



        .products__link
            a(href="#").read-more.read-more--large View All