doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pento
        link(rel="stylesheet", href="css/main.css")
        script(defer, src="./js/index.bundle.js")
    body
        include blocks/header
        include blocks/benefits